body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.maincontainer{
    height: 99vh;
    margin: 0;
    border: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #0ea5e9;
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr;
    padding: 20px;
    padding-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.menu{
    font-size: 2rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    fill: white;
}

.dashboard{    
    height: 60px;
    width: 60px;
}

.svgs{
    height: 30px;
    width: 30px;
}


.links, .settings{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 15px;
}

.sublinks, .settings-items{
    display: flex;
    align-items: center;
    gap: 25px;
    fill: white;
}

.settings{
    justify-content: start;
    gap: 20px;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #fafafa;
    z-index: 1;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2); 
}

.upper{
    display: flex;
    align-items: center;
}

.leftside{
    display: flex;
    align-items: center;
    width: 65%;
    padding-left: 4rem;
    gap: 1rem;
}

.rightside{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    width: 35%;
    flex: 1 1 0%;
    padding: 0px 5rem 0px 0px;
}

.searchbar{
    height: 30px;
    width: 75%;
    border-radius: 50px;
    background-color: #d1d5db;
}

.dot{
    height: 45px;
    width: 45px;
    background-color: #0f766e;
    border-radius: 50%;
    display: inline-block;
}

 .big{
    height: 4rem;
    width: 4rem;
}

.lower{
    display: flex;
    align-items: center;
}

.user-info{
    display: flex;
    align-items: center;
    width: 60%;
    gap: 15px;
    padding-left: 4rem;
}

.nomargin{
    margin: 0;
}

.name{
    font-weight: bold;
    margin-top: 8px;
}

.buttons{
    display: flex;
    gap: 3rem;
    justify-content: space-around;
}
button{
    border-radius: 2rem;
    height: 50px;
    width: 130px;
    background-color: #0ea5e9;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
}

.content{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #e5e7eb;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.projectcontainer{
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 1.5rem;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.announcements{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 1rem;
}

.trending{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1rem;
    
}

.card{
    
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 2rem;
    border-left: 10px solid #f59e0b;
}


.card-2{
    width: 300px;
    height: 28rem;
    background-color: white;
    border-radius: 10px ;
    padding: 2rem;
}
.news{
    border-bottom: 1px solid #4b5563;

}

.asd{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    width: 300px;
    height: 16rem;
    /* flex: 1 1 0%; */
    border: 0;
}

.card-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.card-text{
    height: 40px;
}

.card-text p{
    margin: 0;
}

.title{
    font-weight: bold;
    font-size: 1.3rem;
}

.project-cardtext{
    height: 11rem;
}

.icon1{
    display: flex;
    justify-content: end;
}

.icon{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.secondary-text{
    color: #78716c;
}

.bigger{
    font-size: 1.5rem;
}

.bird{
    background-color: #fda4af;
}

.penguin{
    background-color: #67e8f9;
}

.shark{
    background-color: #60a5fa;
}

.elephant{
    background-color: #22c55e;
}